:root {
  --duration: 0.25s;
  --borderopacity: 0.35;
  --bezier1: cubic-bezier(0.19, 1, 0.22, 1);
  --bezier2: cubic-bezier(0.77, 0, 0.175, 1);
  --bezier2b: cubic-bezier(0.87, 0, 0.13, 1);
  --bezier3: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --air: 6rem;
  --gutter: var(--air);
  --white: #fff;
  --whitergb: 255, 255, 255;
  --black: #111;
  --blackrgb: 17, 17, 17;
  --grey: #aaa;
  --greyrgb: 170, 170, 170;
}

.works__inner {
  padding: 90px 30px;
  overflow: hidden;
  background: var(--color);
  transition: 0.4s all ease-in-out;
}

.works__hero {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 11vw;
  text-transform: uppercase;
  font-family: "NeueHaasDisplay-bol";
}

.works__hero--inView {
  visibility: visible;
}

.works__hero > * {
  width: 100%;
  overflow: hidden;
}

.works__hero__line {
  background: -webkit-linear-gradient(#000000, #adadad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12.4em;
  text-align: center;
  opacity: 0.7;
}

.works__hero--inView .works__hero__line {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.black-strock .marquees__part {
  -webkit-text-stroke-color: #000;
}

.smm h2 {
  font-size: 58px;
  text-align: left;
  line-height: 1;
}

.text-left h2 {
  // text-align: left;
  margin-left: 12%;
}

.arrow-icon-large svg {
  fill: none;
  width: 35px;
  stroke-width: 6px;
  stroke: #2b2b2b;
}

// @media screen and (min-width:1700px){
//   .smm h2{
//     font-size: 70px;
// }
// .works__hero__line{
//   font-size: 17em;
//   text-align: right;
// }
// }
/* services */
#services {
  padding: 7rem 5rem;
}

.accordion-container {
  width: 100%;
  margin: 80px 0px;
}

.accordion-list {
  width: 100%;
}

.accordion-title h2 {
  font-size: 70px;
  /* font-weight: 800; */
  font-family: "NeueHaasDisplay-me";
  letter-spacing: 6px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #2b2b2b;
  -webkit-text-stroke: 2px;
  padding-left: 52px;
  stroke: #2b2b2b;
  color: #2b2b2b;
}

.accordion-title h2 span {
  font-size: 0.3em;
  letter-spacing: 2px;
  position: absolute;
  -webkit-text-stroke: 1px;
  left: 23px;
  top: 40px;
}

.accordion-list li {
  border-bottom: 2px solid #2b2b2b;
}

.top-border {
  border-top: 2px solid #2b2b2b;
}

.accordion-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0;
  cursor: pointer;
  align-items: center;
}

.accordion-title:hover h2 {
  -webkit-text-fill-color: #2b2b2b;
  -webkit-text-stroke-color: #2b2b2b;
  -webkit-text-stroke: 0px;
}

.accordion-list p {
  overflow: hidden;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  font-family: "Ageo";
  font-size: 0.9em;
  padding-right: 17%;
  letter-spacing: 0.5px;

  margin-bottom: 30px;
  color: #444;
}

.accordion-list .cont {
  // display: flex ;
  // align-items: center;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  font-size: 1.3em;
  padding-left: 4.6%;

  .en-form-submit {
    margin: 0 0 0;
    /* overflow: hidden; */
    /* height: 100%; */
    text-align: left;
    margin-bottom: 20%;
    margin-top: 30px;
    margin-right: 120px;
  }

  .en-btn_send {
    position: relative;
    display: inline-block;
    height: auto;
    margin: 0;
    padding: 0;
    color: #2b2b2b;
    background: 0 0;
    border: 0;
    border-radius: 0;
    outline: 0 !important;
    font-family: "Ageo-SemiBold";
    font-size: 0.9em;
    letter-spacing: 1px;
    line-height: inherit;
    text-align: inherit;
    text-transform: inherit;
    text-indent: inherit;
    text-decoration: none;

    span {
      background-image: linear-gradient(45deg, black, #000574);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 100% 500%;
      -webkit-animation: gradient 2s ease infinite;
      animation: gradient 2s ease infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;

      .arro {
        img {
          width: 13px;
          margin-left: 10px;
        }
      }
    }
  }

  .en-btn_send:hover {
    .arro {
      img {
        transform: rotate(45deg);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .en-btn_send:after {
    background-image: linear-gradient(45deg, black, #000574);
    background-size: 100% 500%;
    -webkit-animation: gradient 2s ease infinite;
    animation: gradient 2s ease infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
}

.accordion-list li.open h2 {
  -webkit-text-fill-color: #2b2b2b;
  -webkit-text-stroke-color: #2b2b2b;
  -webkit-text-stroke: 0px;
}

.accordion-list li a {
  display: block;
}

.accordion-list li {
  position: relative;
}

.accordion-list li figure {
  transition: 0.3s all ease-in-out;
}

.accordion-list li.open figure {
  -webkit-transform: rotate(44deg);
  transform: rotate(44deg);
  transition: 0.3s all ease-in-out;
}

.accordion-list li.open:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.accordion-list li:hover:before {
  transform: scaleX(1);
  transform-origin: left center;
}

.accordion-list li:before {
  content: " ";
  display: block;
  position: absolute;
  width: 10rem;
  height: 5px;
  left: 0;
  background: #2b2b2b;
  transition: transform calc(var(--duration) * 3) var(--bezier2);
  transform: scaleX(0);
  bottom: -4px;
  transform-origin: right center;
}

/* services */
.services-s {
  padding: 0px 10%;
  margin-top: 20%;

  .flex-con {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20%;
    position: relative;
  }

  .hed {
    font-size: 4em;
    text-align: center;
    line-height: 1.2;
    font-family: "NeueHaasDisplay-bol";
    margin-bottom: 11%;
  }

  .services-s .flex-con {
    justify-content: left;
  }

  .flex-con .fle {
    width: 60%;
    position: relative;
    color: #2b2b2b;
  }

  .p-right {
    padding-right: 10%;
  }

  .p-left {
    padding-left: 10%;
  }

  .flex-con .fle h3 {
    font-size: 4em;
    text-align: left;
    line-height: 1.2;
    font-family: "NeueHaasDisplay-me";
    letter-spacing: 3px;
    // opacity: 0;
  }

  .flex-con .gif-area {
    width: 40%;
  }

  .content-p {
    padding-right: 30%;
    margin-top: 30px;
  }

  .content-p p {
    letter-spacing: 1px;
    color: #444444;
    font-weight: 400;
  }

  .image {
    width: 40%;
    /* height: 940px; */
    // transform: scale(0);
    transition: transform 1s ease-in-out;
    pointer-events: none;
    // opacity: 0;
  }

  .visible-image {
    z-index: -1;
    transform: translateY(-50%) scale(1);
  }

  .align-center {
    align-items: center;
    margin-top: 2%;
  }

  .flx-end {
    justify-content: flex-end !important;
  }
}

// details
.ser-hero {
  margin-top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;

  .top-h {
    position: relative;
    margin-right: 0%;
    padding: 0px 30px;
    width: 100%;

    h1 {
      font-size: 10em;
      font-family: "NeueHaasDisplay-me";
      perspective: 600px;

      // text-shadow: 1px 1px 10px rgba(248, 25, 25, 0.212);
      .header_title_line {
        // display: block;
        color: transparent;
        background-image: radial-gradient(
          farthest-corner at center 0px,
          #919ccd 0%,
          black 100%
        );
        -webkit-background-clip: text;
        background-clip: text;
        transform-origin: center;
        background-size: 200% auto;
        animation: gradient-animation 3s linear infinite;
        transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1),
          transform 0s cubic-bezier(0.215, 0.61, 0.355, 1);
        display: block;
        transform: none;
        transform-origin: center top;
        transform-style: preserve-3d;

        span {
          display: inline-block;
        }
      }

      @-webkit-keyframes gradient-animation {
        to {
          background-position: 200% center;
        }
      }

      @keyframes gradient-animation {
        to {
          background-position: 200% center;
        }
      }
    }

    .h1-r {
      margin-left: 30%;
      margin-top: 14px;
    }

    .h1-r6 {
      margin-left: 6%;
    }

    .element {
      position: absolute;
      top: 110px;
      right: 100px;
      background: #fff;
      padding: 20px;
      font-size: 1em;
      letter-spacing: 1px;
      font-family: "NeueHaasDisplay-me";
      box-shadow: 1px 1px 41px -14px #777777f2;
      border-radius: 50px;
    }
  }

  .top-img {
    position: relative;
    transform: translateY(-69px);
    z-index: -1;
    margin-right: 13%;
    margin-left: 2%;
  }
}

.bol-prh {
  padding: 8% 12%;
  .p-s {
    font-size: 2.6em;
    font-family: "NeueHaasDisplay-roman";
    letter-spacing: 3px;
    text-align: center;
    color: #1a1a1a;
  }
  p {
    font-size: 2.6em;
    font-family: "NeueHaasDisplay-roman";
    letter-spacing: 3px;
    text-align: center;
    color: #1a1a1a;

    span {
      font-family: "NeueHaasDisplay-xthin";
      font-size: 1.2em;
      color: #fff;
      background-color: #f3ec78;
      background-image: linear-gradient(
        45deg,
        dodgerblue,
        purple,
        red,
        dodgerblue
      );
      background-size: 200% 200%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shine 4s linear infinite;
    }
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.ser-c {
  user-select: auto;
  background: #fafafa;
  padding: 7% 0px;

  .container {
    width: 80%;
  }

  .flex-con {
    margin-top: 0px;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .left-d {
      width: 36%;

      .lf {
        line-height: 1.8;
        letter-spacing: 1px;
        font-family: "NeueHaasDisplay-me";
        text-transform: inherit;
        text-align: justify;
      }
      .qou {
        position: absolute;
        /* display: contents; */
        left: 38px;

        img {
          width: 35px;
        }
      }
      p {
        line-height: 1.8;
        letter-spacing: 1px;
        font-family: "NeueHaasDisplay-me";
        text-transform: inherit;
        text-align: justify;

        .qou {
          position: absolute;
          display: contents;
          left: -40px;

          img {
            width: 35px;
          }
        }
      }
    }

    .right {
      width: 48%;
      padding-left: 4%;

      .ri {
        line-height: 1.6;
        letter-spacing: 1px;
        font-family: "Ageo";
      }
    }

    .three-prah {
      ul {
        list-style: none;
        padding: 0 0 0 0;
        margin: 0px;
        margin: 0 0 0;
        width: 100%;
        justify-content: space-evenly;

        li {
          position: relative;
          padding-left: 65px;
          margin: 40px 0 79px;
          width: 34%;
          counter-increment: list;

          p {
            letter-spacing: 2px;
            font-family: "NeueHaasDisplay-light";
          }

          .contact-details-block ul li p {
            margin: 0px;
            font-size: 20px;
            line-height: 26px;
            color: #242424;
          }
        }

        li:before {
          content: "/0" counter(list) "";
          position: absolute;
          left: 0px;
          top: 0px;
          font-size: 19px;
          font-weight: 600;
        }
      }
    }
  }
}

.get-in {
  padding: 15% 0;

  .flex-con {
    align-items: center;

    .left-d {
      width: 43%;

      h2 {
        font-size: 1.9em;
        line-height: 1.4;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
        font-family: "NeueHaasDisplay-me";
      }

      p {
        font-size: 0.9em;
        line-height: 1.8;
        letter-spacing: 1px;
        font-family: "Ageo";
        text-transform: inherit;
      }
    }

    .right {
      text-align: center;
      position: relative;

      a {
        font-size: 1.2em;
        font-family: "NeueHaasDisplay-me";
        color: #2b2b2b;
        letter-spacing: 2px;
        text-transform: uppercase;

        img {
          width: 10px;
        }
      }

      &::after {
        content: "";
        background: url(/assets/resources/img/Service-elements/phone-icon.svg);
        width: 50%;
        height: 246px;
        position: absolute;
        background-repeat: no-repeat;
        left: 0;
        margin: 0 auto;
        right: 0;
        top: -120px;
        background-size: cover;
      }
    }
  }
}

.last {
  padding: 5% 12%;

  .gr-b {
    font-size: 2.6em;
    font-family: "Ageo-SemiBold";
    letter-spacing: 3px;
    text-align: center;
    color: #2b2b2b;
    overflow: hidden;
    line-height: 1.5;

    .grd {
      color: #fff;
      background-color: #f3ec78;
      background-image: linear-gradient(
        45deg,
        dodgerblue,
        purple,
        red,
        dodgerblue
      );
      background-size: 200% 200%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: shine 4s linear infinite;
      animation: shine 4s linear infinite;
    }
  }
}

.service-points {
  padding: 10% 0;

  .container {
    width: 80%;

    h2 {
      font-size: 1.6em;
      line-height: 1.7;
      letter-spacing: 2px;
      color: #fff;
      margin-bottom: 20px;
      font-family: "Ageo-SemiBold";
    }

    p {
      padding-right: 0%;
      margin-bottom: 3%;
      color: #fff;
    }
    .pointrs-se {
      display: flex;
      .left-content {
        padding: 59px 40px;
        background: #000;
        margin-right: 6.9%;
        z-index: 2;
        position: relative;
        // width: 91%;
        &::before {
          content: "";
          position: absolute;
          left: 10px;
          top: 10px;
          right: 10px;
          bottom: 10px;
          background: #111215;
          z-index: -1;
        }
        &::after {
          content: "";
          position: absolute;
          left: -10px;
          top: -10px;
          right: -10px;
          bottom: -10px;
          background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#12c2e9),
            color-stop(#c471ed),
            to(#f64f59)
          );
          background: -webkit-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
          background: -o-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
          background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
          z-index: -4;
        }
      }
    }
    .point {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      li {
        width: 50%;
        font-size: 1em;
        font-family: "Ageo";
        color: #444;
        padding-right: 20px;
        position: relative;

        &::before {
          content: "";
          background-image: url(/assets/resources/img/Service-elements/bullet-icon.svg);
          width: 15px;
          height: 14px;
          top: 4px;
          left: -20px;
          background-size: cover;
          position: absolute;
        }
      }
    }
  }
}

//

.strategy {
  position: relative;

  .el-bg {
    background-image: url(/assets/resources/img/Service-elements/strategy-icon.png);
    position: absolute;
    z-index: 4;
    background-repeat: no-repeat;
  }

  .el1 {
    width: 50px;
    height: 55px;
    background-position: -31px;
    top: 18%;
    left: 7%;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  .el2 {
    width: 50px;
    height: 50px;
    background-position: -438px;
    left: 16%;
    bottom: 14%;
    top: unset;
  }

  .el3 {
    width: 50px;
    height: 50px;
    background-position: -175px;
    left: 34%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    bottom: 7%;
    top: 21%;
  }

  .el4 {
    width: 50px;
    height: 50px;
    background-position: -304px;
    top: 18%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    right: 11%;
  }

  .el5 {
    width: 50px;
    height: 50px;
    background-position: -708px;
    bottom: 23%;
    right: 2%;
    /* -webkit-transform: scale(0.7); */
    /* transform: scale(0.7); */
  }

  .el6 {
    width: 90px;
    height: 93px;
    background-position: -530px;
    bottom: 1%;
    right: 25%;
  }
}

// Design
.design {
  position: relative;

  .el-bg {
    background-image: url(/assets/resources/img/Service-elements/design-icon.png);
    position: absolute;
    z-index: 4;
    background-repeat: no-repeat;
  }

  .el1 {
    width: 50px;
    height: 55px;
    background-position: -41px;
    top: 18%;
    left: 7%;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  .el2 {
    width: 60px;
    height: 60px;
    background-position: -438px;
    left: 16%;
    bottom: 14%;
    top: unset;
  }

  .el3 {
    width: 60px;
    height: 60px;
    background-position: -175px;
    left: 34%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    bottom: 7%;
    top: 21%;
  }

  .el4 {
    width: 50px;
    height: 50px;
    background-position: -304px;
    top: 18%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    right: 11%;
  }

  .el5 {
    width: 60px;
    height: 60px;
    background-position: -698px;
    bottom: 23%;
    right: 2%;
    /* -webkit-transform: scale(0.7); */
    /* transform: scale(0.7); */
  }

  .el6 {
    width: 90px;
    height: 93px;
    background-position: -530px;
    bottom: 1%;
    right: 25%;
  }
}

.digital {
  position: relative;

  .el-bg {
    background-image: url(/assets/resources/img/Service-elements/marketing-icon.png);
    position: absolute;
    z-index: 4;
    background-repeat: no-repeat;
  }

  .el1 {
    width: 50px;
    height: 55px;
    background-position: -41px;
    top: 18%;
    left: 7%;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  .el2 {
    width: 60px;
    height: 60px;
    background-position: -438px;
    left: 13%;
    bottom: 11%;
    top: unset;
  }

  .el3 {
    width: 60px;
    height: 60px;
    background-position: -175px;
    left: 46%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    bottom: 8%;
    top: 29%;
  }

  .el4 {
    width: 50px;
    height: 59px;
    background-position: -310px;
    top: 29%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    right: 6%;
  }

  .el5 {
    width: 60px;
    height: 60px;
    background-position: -698px;
    bottom: 23%;
    right: 2%;
    /* -webkit-transform: scale(0.7); */
    /* transform: scale(0.7); */
  }

  .el6 {
    width: 90px;
    height: 93px;
    background-position: -553px;
    bottom: 1%;
    right: 25%;
  }
}

.develop {
  position: relative;

  .el-bg {
    background-image: url(/assets/resources/img/Service-elements/development-icon.png);
    position: absolute;
    z-index: 4;
    background-repeat: no-repeat;
  }

  .el1 {
    width: 50px;
    height: 55px;
    background-position: -57px;
    top: 18%;
    left: 7%;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  .el2 {
    width: 60px;
    height: 60px;
    background-position: -438px;
    left: 13%;
    bottom: 11%;
    top: unset;
  }

  .el3 {
    width: 60px;
    height: 60px;
    background-position: -175px;
    left: 46%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    bottom: 8%;
    top: 23%;
  }

  .el4 {
    width: 50px;
    height: 59px;
    background-position: -310px;
    top: 29%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    right: 6%;
  }

  .el5 {
    width: 60px;
    height: 60px;
    background-position: -698px;
    bottom: 23%;
    right: 2%;
    /* -webkit-transform: scale(0.7); */
    /* transform: scale(0.7); */
  }

  .el6 {
    width: 90px;
    height: 93px;
    background-position: -553px;
    bottom: 1%;
    right: 25%;
  }
}

// s
.image-sec {
  margin-bottom: 10%;

  .flex-con {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10%;

    .img1 {
      width: 25%;
      display: block;
      overflow: hidden;
    }

    .img2 {
      width: 40%;
      display: block;
      overflow: hidden;
    }

    .img3 {
      width: 25%;
      display: block;
      overflow: hidden;
    }
  }

  .full {
    display: block;
    overflow: hidden;
    width: 100%;

    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.scroll-sec2 {
  padding: 10% 0;
  position: relative;
  padding-bottom: 0;

  .back-text {
    position: absolute;
    top: -29px;
    right: inherit;
    font-family: "NeueHaasDisplay-me";
    z-index: 0;

    h1 {
      color: #7575750a;
      -webkit-transform: translateX(192vw);
      transform: translateX(192vw);
      width: 250vw;
      font-size: 9em;
      font-family: "NeueHaasDisplay-me";
      color: #7575750a;
    }
  }

  .container {
    width: 80%;

    h2 {
      padding: 20px 0%;
      font-size: 2.6em;
      padding-right: 31%;
      color: #1a1a1a;
      line-height: 1.5;
      margin-bottom: 3%;
      letter-spacing: 4px;
      font-family: "NeueHaasDisplay-me";
    }

    p {
      line-height: 1.8;
      letter-spacing: 2px;
    }
  }

  .pin-wrap {
    height: 70vh;
  }
}

.details-f {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: visible !important;

  .cont {
    width: 46%;
    padding-right: 4.6%;

    p {
      line-height: 1.8;
      letter-spacing: 0px;
    }
  }
}

.image-div {
  width: 70%;
  position: relative;
  margin-top: -15%;
  margin-left: 39%;
  margin-bottom: 7%;
}

//
.scroll-sec {
  background: linear-gradient(1deg, #090e26, #031554);
  padding: 10% 0;
  position: relative;
  padding-bottom: 0;

  .container {
    width: 80%;

    h2 {
      padding: 20px 0%;
      font-size: 1.9em;
      padding-right: 160px;
      color: #fff;
      line-height: 1.7;
      margin-bottom: 3%;
      letter-spacing: 4px;
      font-family: "NeueHaasDisplay-me";
    }

    p {
      font-size: 1.3em;
      font-family: "Ageo";
      color: #fff;
      line-height: 1.8;
      letter-spacing: 2px;
    }
  }

  .top-bg {
    position: absolute;
    top: -177px;
    width: 79%;
    left: 280px;
  }

  .bottom-bg {
    position: absolute;
    bottom: 230px;
    transform: rotate(271deg);
    width: 74%;
    right: -370px;
  }
}

.sec-b {
  background: #090e26;
  padding: 10% 0;
  padding-top: 0;
  position: relative;
  border: 1px solid #090e26;

  .container {
    width: 80%;

    p {
      font-size: 1.3em;
      font-family: "Ageo";
      color: #fff;
      line-height: 1.8;
      letter-spacing: 2px;
    }
  }
}

section.horizontal .pin-wraps,
section.horizontal .animation-wrap {
  display: flex;
  position: relative;
  z-index: 1;
  height: 60vh;
  margin-top: 50px;
  margin-left: 9%;
}

.pin-wrap .item {
  position: relative;
  padding: 70px 90px;
  flex: 0 0 500px;
  align-items: center;
  line-height: 1.7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // border-right: 1px solid rgba(0, 0, 0, 0.06);
  background-color: transparent;

  h4 {
    font-size: 2em;
    text-transform: uppercase;
    font-family: "NeueHaasDisplay-me";
    color: #000000;
    letter-spacing: 3.6px;
  }

  p {
    line-height: 1.4;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    margin-top: 9px;
  }
}

.pin-wrap .item:before {
  font-family: "NeueHaasDisplay-me";
  position: absolute;
  font-size: 10em;
  opacity: 0.05;
  z-index: -1;
  transform: translate(-60px, -102px);
  line-height: 1;
  color: rgb(0, 0, 0);
}

.black-bg {
  position: relative;

  img {
    position: absolute;
  }
}

.ser-three {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 10vw;
  position: relative;

  .item {
    position: relative;
    padding: 70px 70px;
    width: 30%;
    align-items: center;
    line-height: 1.7;
    // border-right: 1px solid rgba(0, 0, 0, 0.06);
    background-color: transparent;

    &::before {
      // counter-increment: item;
      content: attr(data-text);
      font-family: "NeueHaasDisplay-me";
      position: absolute;
      font-size: 5em;
      opacity: 0.05;
      z-index: -1;
      transform: translate(-45px, -26px);
      line-height: 1;
      color: rgb(0, 0, 0);
    }

    p {
      line-height: 1.4;
      letter-spacing: 1px;
      margin-top: 9px;
    }
  }
}

.ser-two {
  padding: 50px 10vw;
  position: relative;
  margin-bottom: 7%;
  .horizontal-sec {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    flex-wrap: wrap;
    margin-bottom: 7%;
  }
  .mar-top {
    margin-top: 20%;
  }
  .s {
    position: relative;
    img {
      position: absolute;
      width: 70px;
      top: 0;
      right: 0;
      filter: invert(1);
      -webkit-animation: rotation 17s infinite linear;
    }
  }
  .bo-h {
    padding: 20px 0%;
    font-size: 1.6em;
    padding-right: 30%;
    color: #ffffff;
    line-height: 1.4;
    margin-bottom: 3%;
    // margin-top: 10%;
    letter-spacing: 1px;
    font-family: "Ageo";
    position: relative;
  }
  .E-second .bo-h {
    padding-right: 15%;
  }
  .item {
    position: relative;
    padding: 60px 60px;
    width: 40%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.7;
    background-color: transparent;

    &::before {
      // counter-increment: item;
      content: attr(data-text);
      font-family: "NeueHaasDisplay-me";
      position: absolute;
      font-size: 8em;
      opacity: 0.6;
      z-index: -1;
      transform: translate(-75px, -45px);
      // transform: translate(-80px, -26px);
      line-height: 1;
      background: linear-gradient(to right, #12c2e9, #c471ed, #f64f5a49),
        url(https://grainy-gradients.vercel.app/noise.svg);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h2 {
      font-size: 1.6em;
      line-height: 1.2;
      letter-spacing: 1.3px;
      font-family: "NeueHaasDisplay-me";
      color: #fff;
      text-transform: uppercase;
    }

    p {
      line-height: 1.4;
      letter-spacing: 1px;
      margin-top: 9px;
      text-align: justify;
      color: rgba(255, 255, 255, 0.803);
    }
  }
}

#sectionPin2 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  // display: grid;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 50px 10vw;
  margin: auto;
  place-items: center;
}

section.horizontal .animation-wrap.to-right {
  counter-reset: item;
  float: left;
}

section.horizontal .animation-wrap.to-left {
  counter-reset: item 11;
  float: right;
}

.pin-wrap .item:before {
  // counter-increment: item;
  content: attr(data-text);
}

// .pin-wrap .item:before {
//   counter-increment: item -1;
//   content: counter(item);
// }

.pin-wrap .item:nth-child(2n + 2) {
  align-items: flex-start;
}

.pin-wrap .item:nth-child(4n + 4) {
  align-items: flex-end;
}

// section
.pin-wraps {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 10vw;
  position: relative;
}

.pin-wraps > * {
  min-width: 42vw;
  padding: 0vw;
  position: relative;
}

.services-s .content-p {
  padding-right: 0%;

  .en-form-submit {
    margin: 0 0 0;
    overflow: visible;
    /* height: 100%; */
    text-align: left;
    margin-bottom: 20%;
    margin-top: 30px;

    .en-btn_send {
      color: #1a1a1a;
      background: 0 0;
      border: 0;
      border-radius: 0;
      // opacity: 0;
      outline: 0 !important;
      font-family: "Ageo-SemiBold";
      font-size: 1.4em;
      letter-spacing: 1px;
      line-height: inherit;
      text-align: inherit;
      text-transform: inherit;
      text-indent: inherit;
      text-decoration: none;

      span {
        background-image: linear-gradient(
          45deg,
          dodgerblue,
          purple,
          red,
          dodgerblue
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-size: 100% 500%;
        -webkit-animation: gradient 2s ease infinite;
        animation: gradient 2s ease infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;

        .arro {
          img {
            width: 16px;
            margin-left: 7px;
          }
        }
      }
    }

    .en-btn_send:after {
      background-image: linear-gradient(
        45deg,
        dodgerblue,
        purple,
        red,
        dodgerblue
      );
      background-size: 100% 500%;
      -webkit-animation: gradient 2s ease infinite;
      animation: gradient 2s ease infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
    }
  }

  .en-btn_send:hover {
    .arro {
      img {
        transform: rotate(45deg);
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 1920px) {
  .ipad-ser {
    display: none;
  }
  .accordion-list li.open .cont {
    max-height: 335px;
    padding-bottom: 20px;
    transition: 0.4s all ease-in-out;
  }
  .services-s .image {
    width: 35%;

    /* height: 940px; */
    img {
      width: 500px;
    }
  }
  .ser-hero .top-h h1 {
    font-size: 13em;
  }
  .get-in .flex-con .right::after {
    height: 367px;
  }
}

@media screen and (max-width: 1680px) {
  .services-s .image {
    width: 46%;
    /* height: 940px; */
  }

  .ser-hero .top-h .h1-r6 {
    margin-left: 16%;
  }

  .services-s .content-p {
    padding-right: 0%;
  }

  .services-s .flex-con .fle h3 {
    font-size: 4em;
    // opacity: 0;
  }

  .get-in .flex-con .right::after {
    height: 300px;
  }
}

@media screen and (max-width: 1440px) {
  .works__hero__line {
    line-height: 1.06;
  }

  .get-in .flex-con .right::after {
    height: 276px;
  }
  .ser-hero .top-h h1 {
    font-size: 12em;
  }
  .image-div {
    margin-top: -45%;
  }
  .ser-hero .top-h .tech__dev {
    font-size: 9.5em;
  }
}

@media screen and (max-width: 1367px) {
  .works__hero__line {
    font-size: 11.4em;
  }

  .get-in .flex-con .right::after {
    height: 276px;
    height: 246px;
  }
}

@media screen and (max-width: 1280px) {
  .image-div {
    margin-top: -35%;
  }
  .services-s .image {
    width: 35%;
    /* height: 940px; */
  }
  .ser-hero .top-h h1 {
    font-size: 8.5em;
  }
  .services-s .image img {
    width: 100%;
  }
  .works__hero__line {
    font-size: 11em;
    line-height: 0.9;
  }

  .ser-c .flex-con .left-d .qou {
    left: 10px;
  }
  .ser-c .flex-con .left-d .qou img {
    width: 30px;
  }

  .get-in .flex-con .right::after {
    height: 246px;
  }

  .services-s .image {
    width: 35%;
    /* height: 940px; */
  }

  .services-s .content-p {
    padding-right: 0%;

    .en-form-submit {
      margin: 0 0 0;
      overflow: hidden;
      /* height: 100%; */
      text-align: left;
      margin-bottom: 20%;
      margin-top: 30px;

      .en-btn_send {
        color: #1a1a1a;
        background: 0 0;
        border: 0;
        border-radius: 0;
        // opacity: 0;
        outline: 0 !important;
        font-family: "Ageo-SemiBold";
        font-size: 1em;
        letter-spacing: 1px;
        line-height: inherit;
        text-align: inherit;
        text-transform: inherit;
        text-indent: inherit;
        text-decoration: none;

        span {
          background-image: linear-gradient(45deg, black, #000574);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          background-size: 100% 500%;
          -webkit-animation: gradient 2s ease infinite;
          animation: gradient 2s ease infinite;
          -webkit-animation-direction: alternate;
          animation-direction: alternate;
        }
      }

      .en-btn_send:after {
        background-image: linear-gradient(45deg, black, #000574);
        background-size: 100% 500%;
        -webkit-animation: gradient 2s ease infinite;
        animation: gradient 2s ease infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
      }
    }
  }

  .services-s .flex-con .fle h3 {
    font-size: 3em;
    // opacity: 0;
  }
}

@media screen and (max-width: 1180px) {
  .ser-hero .top-h .h1-r {
    margin-left: 55%;
  }
  .flex-cen {
    justify-content: center;
  }
  .ser-two .item p {
    text-align: left;
  }
  .ser-hero .top-h .strategy__head {
    margin-left: 40%;
  }
  .ser-hero .top-h .tech__head {
    margin-left: 2%;
  }
}

@media screen and (max-width: 991px) {
  .ser-hero .top-h .tech__head {
    margin-left: 16%;
  }
  .ser-two {
    display: none;
  }
  .ipad-ser {
    display: block;
  }

  .ser-two .item {
    padding: 0 0 100px 0px;
    transform: none !important;
  }
  .ser-two .strategy__item {
    width: 90% !important;
    padding: 0 0 100px 15px;
    transform: none !important;
  }
  .ser-two .mar-top {
    margin-top: 0%;
  }
  .ser-two .item p {
    text-align: left;
    font-size: 20px !important;
  }
  .service-points {
    padding: 15% 0 10% 0;
  }
  .accordion-list li.open .cont {
    max-height: 435px;
  }
  .ser-two {
    padding: 50px 10vw 0 10vw;
    margin-bottom: 0;
  }
  .ser-two .item::before {
    font-size: 3em;
    top: 25px;
    left: 50px;
  }
  .ser-two .item h2 {
    font-size: 1.5em;
  }
  .ser-two .horizontal-sec {
    margin-top: 20%;
  }
  .flex-cen {
    justify-content: center;
  }
}
.dark {
  .marquees__part {
    -webkit-text-stroke-color: #2b2b2b;
  }
}

.aproch {
  padding: 15% 0;
  position: relative;
  padding-bottom: 0;
  font-family: "NeueHaasDisplay-me";
  color: #fff;
  background-image: url(/assets/resources/img/circle.png);
  background-repeat: no-repeat;
  background-position: 100% calc(100% + 120px);
  overflow: hidden;
  .top-bg {
    position: absolute;
    top: -137px;
    width: 79%;
    left: 30px;
  }

  .bottom-bg {
    position: absolute;
    bottom: 230px;
    transform: rotate(271deg);
    width: 74%;
    right: -370px;
  }
  .m-r {
    margin-right: 0;
  }
  .m-0 {
    margin-top: 0 !important;
  }
  --bs-gutter-x: 3rem;
  --bs-gutter-y: 6rem;
  .container {
    width: 80%;

    h2 {
      padding: 20px 0%;
      font-size: 3em;
      letter-spacing: 1px;
      font-family: "NeueHaasDisplay-me";
    }

    .approach-lis {
      margin-top: 10%;
      display: flex;
      flex-wrap: wrap;

      .flex-con {
        flex: 0 0 auto;
        width: 33.3333333333%;
        display: unset;
        align-items: center;
        margin: 0%;
        // margin-right: 20px;
        position: relative;
        margin-bottom: 10%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        .ap-no {
          position: relative;
          overflow: visible;
          &::before {
            content: "";
            position: absolute;
            background: #fff;
            opacity: 0.5;
            width: 100%;
            height: 1px;
            top: -20px;
            // transition: 1s all ease-in-out;
          }
          h6 {
            .numb {
              font-size: 0.9375rem;
              font-family: "NeueHaasDisplay-me";
              letter-spacing: 1px;
              margin-bottom: 15px;
              position: relative;
              color: #ffffff;
              transition: 0.3s all ease-in-out;
              opacity: 0.5;
            }
          }
        }

        .ap-prah {
          padding-right: 0%;

          h6 {
            overflow: hidden;
            font-size: 2em;
            margin-bottom: 15px;
            transition: 3s all ease-in-out;
          }

          .cons {
            font-size: 1.1em;
            /* position: absolute; */
            /* left: 10px; */
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 9px;
            transition: 3s all ease-in-out;
          }
        }

        p {
          color: #fff;
          letter-spacing: 1px;
        }
      }
    }
  }
  .flex-con:hover .numb {
    opacity: 1 !important;
  }
  .flex-con:hover .ap-no::before {
    background: linear-gradient(
      49deg,
      #2d4de0 0,
      #9f71f0 30%,
      #fc6277 58%,
      #f8ef6f 95%
    ) !important;
    transition: 0.3s all ease-in-out;
  }
  .flex-con:hover .ap-prah h6 .cons {
    background-image: linear-gradient(
      49deg,
      #2d4de0 0,
      #9f71f0 30%,
      #fc6277 58%,
      #f8ef6f 95%
    );
    -webkit-text-fill-color: transparent;
    -text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 100% 500%;
    animation: gradient 2s ease infinite;
    animation-direction: alternate;
    transition: 3s all ease-in-out !important;
  }
}
.heigh_100 {
  height: 100vh;
}

.flex-cen {
  display: flex;
  align-items: center;
}

.right-align {
  text-align: right;
}
.light .marquees__part {
  -webkit-text-stroke-color: #fff;
  img {
    filter: invert(10);
  }
}

@media screen and (max-width: 1024px) {
  .ser-hero .top-h .tech__dev {
    font-size: 6.5em;
  }
  .ser-two .item p {
    font-size: 12px;
  }
  .service-points .container .point li {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .service-points .container .point li {
    font-size: 1.5em;
    margin-bottom: 20px !important;
  }
  .service-points .container .point li::before {
    top: 10px;
  }
  .scroll-sec2 .back-text {
    top: -63px;
  }
  .services-s .flex-con .fle {
    width: 100%;
  }
  .reverse__column {
    flex-direction: column-reverse !important;
  }
  .services-s .image {
    width: 100%;
    margin-bottom: 50px;
  }
  .services-s .align-center {
    flex-direction: column;
  }
  .services-s .p-left {
    padding-left: 0 !important;
  }
  .services-s .p-right {
    padding-right: 0 !important;
  }
  .aproch .container .approach-lis .flex-con {
    width: 100%;
  }
  .d-flex {
    display: block;
  }
  .about-us-section .small-h1 {
    font-size: 3em;
  }
  .about-us-section .b-h1 {
    font-size: 4em;
  }
  .ser-hero .top-h h1 {
    font-size: 6.5em;
  }
  .ser-hero .top-h .h1-r {
    margin-left: 48%;
  }

  .ser-hero .top-h .mr__right {
    margin-left: 31%;
  }
  .ser-c .flex-con .right {
    width: 100%;
    // padding-left: 10px !important;
  }
  .ser-c .container {
    width: 80%;
  }
  .ser-c .flex-con .left-d {
    width: 100%;
    padding-right: 20px;
  }
  .ser-c .flex-con .left-d .qou {
    left: -45px;
  }
  .ser-c .flex-con .right {
    padding-left: 0;
    padding-top: 50px;
  }
  .scroll-sec2 .container h2 {
    padding-right: 18%;
  }
  .details-f .cont {
    width: 50%;
  }
  .ser-two .item {
    width: 40%;
  }
  .service-points .container .pointrs-se {
    flex-direction: column;
  }
  .service-points .container .service__point__S {
    flex-direction: column;
  }
  .service-points .container .service__point__S li {
    width: 100%;
    font-size: 25px;
  }
  .service-points .container .point li {
    padding-left: 20px;
    // font-size: 20px;
  }
  .service-points .container .point li::before {
    left: 0px;
  }
  .service-points .container .pointrs-se .left-content {
    margin-bottom: 50px;
  }
  .ser-hero .top-h .tech__dev {
    font-size: 5.5em !important;
  }
}

@media screen and (max-width: 776px) {
  .ser-hero .top-h .h1-r6 {
    margin-left: 28%;
  }
  .services-s .flex-con .fle h3 {
    font-size: 2.5em;
  }
  .service__section .small-h1 {
    font-size: 1.6em !important;
  }
  .service__container {
    width: 100% !important;
  }
  .aproch .container .approach-lis .flex-con .ap-prah h6 {
    font-size: 1.5em;
  }
  .services-s .content-p p {
    font-size: 13px;
  }
  .services-s .content-p .en-form-submit .en-btn_send span .arro img {
    width: 11px;
    margin-left: 7px;
  }
  .ser-hero .top-h h1 {
    font-size: 3em !important;
  }
  .bol-prh .p-s {
    font-size: 1.3em !important;
  }
  .ser-two .bo-h {
    font-size: 0.9em;
  }
  .ser-c .flex-con .left-d p {
    font-size: 14px;
  }
  .text_anim p {
    font-size: 14px;
  }
  .service-points .container .pointrs-se {
    flex-direction: column;
  }
  .service-points .container h2 {
    font-size: 1em !important;
    margin-bottom: 0px !important;
  }
  .service-points .container .pointrs-se .left-content {
    margin-bottom: 30px;
  }
  .service-points .container .point li {
    font-size: 1em !important;
    margin-bottom: 20px !important;
  }
  .ser-c .flex-con .left-d .qou {
    left: -5px;
  }
  .ser-c .flex-con .left-d .qou img {
    width: 20px;
  }
  .ser-c .flex-con .right {
    margin-top: 0px !important;
  }
  .service-points .padding__bot h2 {
    padding-bottom: 15px;
  }
  .service-points .container p {
    text-align: center;
  }
  .ser-hero .top-h .tech__dev {
    font-size: 2.3em !important;
  }
  .bol-prh p {
    font-size: 1.1em !important;
  }
}

// Mobile Quries
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .aproch {
    padding: 5% 0;
    position: relative;
    padding-bottom: 0;
    font-family: "NeueHaasDisplay-me";

    .m-0 {
      margin-top: 0 !important;
    }

    .container {
      width: 90%;

      h2 {
        font-size: 3em;
      }

      .approach-lis {
        margin-top: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .flex-con {
          display: flex;
          justify-content: normal;
          align-items: baseline;
          margin: 0%;
          position: relative;
          margin-bottom: 10%;
          width: 100%;
          overflow: hidden;

          .ap-no {
            position: relative;
            margin-right: 0%;
            width: 10%;
            overflow: visible;

            h6 {
              .numb {
                font-size: 5em;
                color: #00000012;
              }
            }
          }

          .ap-prah {
            padding-right: 0%;
            position: relative;
            top: -16px;

            .cons {
              font-size: 1.4em;
              text-align: center;
              text-transform: uppercase;
              margin-bottom: 9px;
            }
          }

          p {
            letter-spacing: 1px;
            font-size: 12px;
          }
        }
      }
    }
  }
  .ser-hero .top-h .h1-r {
    text-align: end;
  }

  .ser-hero .top-h {
    padding: 0px 9px;
  }
  .services-s .flex-con .fle {
    width: 100%;
  }

  .services-s .image {
    width: 100%;
    /* height: 940px; */
    margin-bottom: 60px;
    overflow: hidden;
  }

  .services-s {
    padding: 0px 4%;

    .p-right {
      padding-right: 0%;
    }
  }

  .services-s .image img {
    width: 100%;
  }

  .services-s .p-left {
    padding-left: 0%;
  }

  .wrap-flex {
    flex-wrap: wrap;
  }

  .works__inner {
    padding: 0px 0px;
    height: 100vh;
    display: flex;

    .smm h2 {
      font-size: 27px;
      line-height: 1.4;
    }

    .works__hero__line {
      font-size: 3.3em;
      line-height: 1.1;
      width: 100%;
    }
  }

  .accordion-title h2 span {
    font-size: 0.5em;
    letter-spacing: 2px;
    position: absolute;
    -webkit-text-stroke: 1px;
    left: 7px;
    top: 40px;
  }

  .wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  width: 100%;
  position: relative;
  color: #2b2b2b;

  .services-s .flex-con .fle {
    width: 100%;
  }

  .works__hero {
    width: 100%;
  }

  .text-left h2 {
    margin-left: 19%;
  }

  #services {
    padding: 0rem 1rem;

    .accordion-title {
      padding: 40px 0;
      cursor: pointer;
    }

    .accordion-title h2 {
      font-size: 30px;
      letter-spacing: 3px;
      padding-left: 34px;
      line-height: 1.1;
      -webkit-text-fill-color: #2b2b2b;
      font-family: "NeueHaasDisplay-roman";
      -webkit-text-stroke-color: #ffffff;
      -webkit-text-stroke: 0.4px;
      /* stroke: #ffffff; */
      color: #2b2b2b;
    }

    .arrow-icon-large svg {
      fill: none;
      width: 22px;
      stroke-width: 8px;
      stroke: #2b2b2b;
    }

    .accordion-list p {
      font-size: 14px;
      padding-right: 0;
      letter-spacing: 2px;
      margin-bottom: 20px;
      color: #444;
    }

    .accordion-list li.open .cont {
      max-height: 558px;
      padding-bottom: 20px;
      -webkit-transition: 0.4s all ease-in-out;
      transition: 0.4s all ease-in-out;
    }

    .accordion-list .cont .en-btn_send {
      font-size: 0.8em;
    }

    .accordion-list .cont .en-form-submit {
      text-align: left;
      margin-bottom: 10%;
      margin-top: 7px;
      margin-right: 87px;
    }

    .accordion-container {
      margin: 0px 0px;
    }
  }

  .ser-hero {
    video {
      position: absolute;
      /* left: 0; */
      right: 0;
      margin: 0 auto;
      object-fit: cover;
      opacity: 0.8;
      width: 100% !important;
    }

    .top-h h1 {
      font-size: 3.4em;
    }

    .top-h .h1-r {
      margin-left: 17%;
      margin-top: 14px;
    }
  }

  .bol-prh {
    padding: 8% 5%;
    p {
      font-size: 2em;
    }
    .p-s {
      font-size: 2em;
    }
  }

  .ser-c {
    .flex-con {
      display: block;

      .left-d {
        width: 100%;
        padding-left: 20px;
      }

      .right {
        width: 100%;
        padding-left: 20px;
        margin-top: 30px;
      }
    }
  }

  .ser-c .container {
    width: 90%;
  }

  .scroll-sec2 .container {
    width: 100%;
  }
  .details-f .cont p {
    line-height: 1.8;
    letter-spacing: 1px;
  }
  .scroll-sec2 .back-text {
    top: -20px;
  }

  .scroll-sec2 .back-text h1 {
    font-size: 2.9em;
    color: #7575750a;
  }

  .scroll-sec2 .container h2 {
    padding: 19px 0%;
    font-size: 1.4em;
    padding-right: 0%;
    color: #000000;
    line-height: 1.5;
    margin-bottom: 3%;
    letter-spacing: 4px;
    font-family: "NeueHaasDisplay-me";
  }
  .ser-two {
    padding: 50px 4vw;
  }
  .details-f .cont {
    width: 100%;
    padding-right: 0;
  }

  .details-f .cont p .spline_p {
    font-family: "Ageo";
    line-height: 1.8;
    letter-spacing: 2px;
  }
  .details-f .cont .spline_p {
    font-family: "Ageo";
    line-height: 1.8;
    letter-spacing: 2px;
  }
  .image-div {
    width: 100%;
    position: relative;
    margin-top: 5%;
    margin-left: 12%;
    margin-bottom: 7%;
  }

  .scroll-sec2 .container .bo-h {
    font-size: 1.9em;
    padding-right: 0%;
    text-align: left;
    line-height: 1.3;
  }

  .scroll-sec2 .container .bo-h img {
    position: absolute;
    width: 30px;
    top: 0;
    right: 0;
    -webkit-animation: rotation 17s infinite linear;
  }

  .serv {
    display: block;

    .pin-wrap {
      height: 100%;
      display: block;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 46px 13vw;
      position: relative;
    }

    .pin-wrap .item {
      position: relative;
      padding: 27px 36px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 500px;
      flex: 0 0 367px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      line-height: 1.7;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: transparent;
      margin-bottom: 20%;
    }

    .pin-wrap .item:before {
      font-family: "NeueHaasDisplay-me";
      position: absolute;
      font-size: 8em;
      opacity: 0.05;
      z-index: -1;
      transform: translate(-20px, -62px);
      line-height: 1;
      color: #000000;
    }
  }

  .last {
    padding: 0% 3.3%;
  }

  .get-in .flex-con .right::after {
    content: "";
    background: url(/assets/resources/img/Service-elements/phone-icon.svg);
    width: 20%;
    height: 96px;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    margin: 0 auto;
    right: 0;
    top: -20px;
    background-size: contain;
  }

  .ser-c .flex-con .right {
    width: 100%;
    padding-left: 20px;
    margin-top: 70px;
  }

  .service-points .container h2 {
    font-size: 1.9em;
    line-height: 1.4;
    letter-spacing: 2px;
    padding-right: 0%;
    margin-bottom: 70px;
    font-family: "NeueHaasDisplay-roman";
    text-align: center;
  }

  .service-points .container .point li {
    width: 100%;
    font-size: 1.2em;
    font-family: "Ageo";
    color: #444444;
    line-height: 1.7;
    padding-left: 20px;
    position: relative;
    margin-bottom: 30px;
  }

  .service-points .container .point li::before {
    content: "";
    background-image: url(/assets/resources/img/Service-elements/bullet-icon.svg);
    width: 15px;
    height: 14px;
    top: 6px;
    left: 0;
    background-size: cover;
    position: absolute;
  }

  .last .gr-b {
    text-align: center;
    font-size: 1.5em;
  }

  .service-points .container p {
    padding-right: 0%;
    margin-bottom: 13%;
    letter-spacing: 1px;
  }

  .ser-two .item {
    width: 100%;
    padding: 44px 50px;
  }
  .ser-two .E-second .bo-h {
    padding-right: 0%;
  }
  .service-points .container {
    width: 100%;
  }
  .service-points .container .pointrs-se .left-content {
    margin-right: 0;
  }
  .ser-two .bo-h {
    font-size: 1.1em;
    padding-right: 0%;
  }
  .ser-two .s img {
    display: none;
  }
  .ser-two .item h2 {
    font-size: 1.3em;
    line-height: 1.2;
    letter-spacing: 1.3px;
    font-family: "NeueHaasDisplay-me";
  }

  .ser-three .item {
    position: relative;
    padding: 30px px 70px;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.7;
    background-color: transparent;
  }
}

// strategy Page
.wid {
  width: 88%;
}

.b-h1 {
  .in-t {
    font-size: 0.6em;
    line-height: 1.73;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 0px;
    font-family: "NeueHaasDisplay-me";
  }
}
